[submodule "3rd/SDL3"]
	path = 3rd/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rd/SDL3_image"]
	path = 3rd/SDL3_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "3rd/stduuid"]
	path = 3rd/stduuid
	url = https://github.com/mariusbancila/stduuid.git
[submodule "3rd/glm"]
	path = 3rd/glm
	url = https://github.com/g-truc/glm.git
